{% extends 'base.html' %}
{% block head %}
 <title>Application Submitted</title>  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<style>
  *{
        font-family: 'Montserrat', sans-serif;
      }
  </style>
{% endblock %}
{% block body %}
{% include 'navjobpage.html' %}
<div class="container">
      <h1 class="text-center mt-2 mb-4">
        Venky Careers
      </h1>

      <p>Your application for the role of <b>{{job['title']}}</b> at Jovian has been submitted!</p>
      
      <b>Full Name</b>
      <div class="mb-2">{{application['full_name']}}</div>
  
      <b>Email</b>
      <div class="mb-2">{{application['email']}}</div>
  
      <b>LinkedIn URL</b>
      <div class="mb-2">{{application['linkedin_url']}}</div>
  
      <b>Education</b>
      <div class="mb-2">{{application['education']}}</div>
  
      <b>Work Experience</b>
      <div class="mb-2">{{application['work_experience']}}</div>
  
      <b>Resume URL</b>
      <div class="mb-2">{{application['resume_url']}}</div>
    </div>
    {% include 'footer.html' %}
{% endblock %}