<div class="d-flex card-body shadow p-3 mb-5 bg-body-tertiary rounded">
      <div class="p-2 w-100">
      <div>
        {{job['title']}}
        </div>
      <div>
        <b>Location:</b>  {{job['location']}}
        </div>
      {% if 'salary' in job %}
      <div>
        <b>Salary:</b> {{job['salary']}}
      </div>
      {% endif %}
        </div>
        <div class="p-2 flex-shrink-1">
      <a href="mailto:jobhelp@gmail.com?subject=Application to {{job['title']}}&body=my%20name%3A%3Cyour%20name%20here%3E%0D%0Amy%20Resume%20link%3A%3Cyour%20Resume%3E%0D%0Amy%20LinkedIn%3A%3Cyour%20LinkedIn%20id%3E" type="button" class="btn btn-outline-primary">Apply</a>
          </div>
     </div>